<h1>The Course</h1>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole1.jpg"><img src="assets/hole1.jpg" alt=""></a>
    <a href="assets/hole1_2.JPG">
    <img src="assets/hole1_2.JPG" alt="The Vineyards Golf Course Hole 1" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 1</h2>
    <p>
      <em>Par 3 <b>163 Yards</b></em>
    </p>
    <article>
    Uphill par 3 reveals a tricky green with a steep back slope. Better to play short, then to risk hitting one long to an impossible approach shot.
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole2.jpg">
      <img src="assets/hole2.jpg" alt="">
    </a>
    <a href="assets/hole2aSmall-card.jpg">
      <img src="assets/hole2aSmall-card.jpg" alt="The Vineyards Golf Course Hole 2" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 2</h2>
    <p>
      <em>Par 4 <b>301 Yards</b></em>
    </p>
    <article>
    Take in the stunning view on this mild par 4. Tree lines show the way while vineyards in the back drop give you a beautiful scene
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole3.jpg"><img src="assets/hole3.jpg" alt=""></a>
    <a href="assets/hole3a.JPG">
    <img src="assets/hole3a.JPG" alt="The Vineyards Golf Course Hole 3" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 3</h2>
    <p>
      <em>Par 3 <b>152 Yards</b></em>
    </p>
    <article>
    A smallish green backed with water par 3. You have to know your irons well to score on this hole. Trouble also looms just to the right of the green.
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole4.jpg"><img src="assets/hole4.jpg" alt=""></a>
    <a href="assets/hole4a.JPG">
      <img src="assets/hole4a.JPG" alt="The Vineyards Golf Course Hole 4" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 4</h2>
    <p>
      <em>Par 5 <b>451 Yards</b></em>
    </p>
    <article>
    Long Par 4 Dog Leg Left. Stay in the fairway an this hole will be no problem!
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole5.jpg"><img src="assets/hole5.jpg" alt=""></a>
    <a href="assets/hole5a.JPG">
      <img src="assets/hole5a.JPG" alt="The Vineyards Golf Course Hole 5" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 5</h2>
    <p>
      <em>Par 3 <b>189 Yards</b></em>
    </p>
    <article>
    This longer par 3 plays uphill, so club up! The green is also guarded by trees on 3 sides, so hit 'em straight!
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole6.jpg"><img src="assets/hole6.jpg" alt=""></a>
    <a href="assets/hole6a.JPG">
      <img src="assets/hole6a.JPG" alt="The Vineyards Golf Course Hole 6" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 6</h2>
    <p>
      <em>Par 4 <b>312 Yards</b></em>
    </p>
    <article>
    A short par 4 with a beautiful vineyard back drop. High trouble on the right can make it harder to score well here.
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole7.jpg"><img src="assets/hole7.jpg" alt=""></a>
    <a href="assets/hole7a.JPG">
      <img src="assets/hole7a.JPG" alt="The Vineyards Golf Course Hole 7" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 7</h2>
    <p>
      <em>Par 4 <b>272 Yards</b></em>
    </p>
    <article>
    A short par 4 with loads of trouble. OB on the right and a small elevated green with water in the front, and trouble behind. Best to lay up to a good wedge distance and play it safe.
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole8.jpg"><img src="assets/hole8.jpg" alt=""></a>
    <a href="assets/hole8a.JPG">
      <img src="assets/hole8a.JPG" alt="The Vineyards Golf Course Hole 8" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 8</h2>
    <p>
      <em>Par 4 <b>401 Yards</b></em>
    </p>
    <article>
    Straight ahead hilly par 4 with a large green to give you an opportunity for a birdie!
    </article>
  </div>
</div>
<hr>
<div class="row hole">
  <div class="medium-5 text-center columns">
    <a href="assets/hole9.jpg"><img src="assets/hole9.jpg" alt=""></a>
    <a href="assets/hole9a.JPG">
      <img src="assets/hole9a.JPG" alt="The Vineyards Golf Course Hole 9" />
    </a>
  </div>
  <div class="medium-7 text-center columns">
    <h2>Hole 9</h2>
    <p>
      <em>Par 3 <b>135 Yards</b></em>
    </p>
    <article>
    Scenic Par 3 with water between you and the steeply sloped green. Try not to be putting down hill otherwise you might find your self in the raised trouble around the green.
    </article>
  </div>
</div>
