<div class="white text-center">
  <h1>The Vineyards</h1>
  <h2>Golf Course</h2>
  <h3>Fredonia, NY</h3>
</div>
<div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="panel">
        <p>
          The Vineyards Golf Course offers something for golfers of all skill levels. Whether your a beginner looking to pick up the game, or a skilled golfer looking to sharpen your short game, The Vineyards Golf Course will meet your golfing needs.
        </p>
        <dl class="sub-nav">
          <dd><a href="/course">Course</a></dd>
          <dd><a href="/gallery">Gallery</a></dd>
          <dd><a href="/rates">Rates</a></dd>
          <dd><a href="/contact">Contact</a></dd>
        </dl>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="card card-bg" style="background-image: url(assets/hole2aSmall-card.jpg);">
        <h2 class="bottom">#2</h2>
      </div>
    </div>
  </div>
