<h1>Rates</h1>
<hr>
<h2 class="purple-shadow shadow-bg">Membership</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Single</th>
      <th>Couple</th>
      <th>Family</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Walking</th>
      <td>$330</td>
      <td>$450</td>
      <td>$500</td>
    </tr>
    <tr>
      <th>Riding</th>
      <td>$550</td>
      <td>$700</td>
      <td>$825</td>
    </tr>
  </tbody>
</table>
<hr>
<h2 class="purple-shadow shadow-bg">Daily Rates</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Walking</th>
      <th>Riding</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9 Holes</th>
      <td>$12</td>
      <td>$17</td>
    </tr>
    <tr>
      <th>18 Holes</th>
      <td>$14</td>
      <td>$24</td>
    </tr>
    <tr>
      <th>Unlimited</th>
      <td>$14</td>
      <td>-</td>
    </tr>
  </tbody>
</table>